# SECRET KEY
SECRET_KEY = "9xaCtVYyau/rCwMEFX3GoQjCKwUD5UXwwHdjRHxkdLM="

# SALT_KEY
SALT_KEY = "DataReport2026123456"

# UPLOAD PATH
TEMP_PATH = "/upload/temp/"
FILES_PATH = "/upload/files/"
SKILLS_PATH = "/upload/skills/"
EXCELS_PATH = "/upload/excels/"

# MAX ROWS
MAX_ROWS = 500

# DB PARAMS
DB_HOST = "127.0.0.1"
DB_PORT = 3306
DB_NAME = "your_database_name"
DB_USER = "db_user"
DB_PASSWORD = "db_password"

# PROMPT TEMPLATES
PROMPT_SKILLS = "
请根据以上技能文档内容并结合上下文会话内容，输出一个明确的、结构化的分析规划，列出解决此问题需要调用的所有子技能名称。你的输出必须且只能是以下JSON格式：
{
	'analysis': '对用户提问意图的准确理解',
	'required_skills': ['skill_1', 'skill_2', 'skill_3']
}
我的提问是 `{message}`。如果没有所需的子技能名称，将 `required_skills` 的键值置为空数组。
请按照要求输出，无需任何解释。
"

PROMPT_SQL = "
请根据以上技能文档内容并结合上下文会话内容，生成准确的、高性能的、安全的和可执行的SQL查询语句。你的输出必须且只能是以下JSON格式：
{
	'sql_statement': 'SQL查询语句，查询结果中的字段名用准确且简短的中文别名代替。输出单行标准SQL，不含有注释且不要使用反斜杠转义和换行符等特殊字符',
}
我的提问是 `{message}`，指定的数据库系统是 `{dbtype}`。
如果提问模糊无法生成SQL语句，将 `sql_statement` 的键值置为空。
请按照要求输出，无需任何解释。
"

PROMPT_FULL_SKILLS = "
请根据以上技能文档内容并结合我提供的Excel报表模板数据，输出一个明确的、结构化的分析规划，列出解决此问题需要调用的所有子技能名称。你的输出必须且只能是以下JSON格式：
{
	'analysis': '对用户提问意图的准确理解',
	'required_skills': ['skill_1', 'skill_2', 'skill_3']
}
我提供的报表模板数据是 `{pattern}`，如果没有所需的子技能名称，将 `required_skills` 的键值置为空数组。
请按照要求输出，无需任何解释。
"

PROMPT_FULL_SQLS = "
请根据以上技能文档内容并结合我提供的Excel报表模板数据，生成用于制作该报表的SQL查询语句数组。你的输出必须且只能是以下JSON格式：
[
	{
		'row': '行索引，从1开始且必须是未填充数据的空白单元格',
		'col': '列索引，从1开始且必须是未填充数据的空白单元格',
		'type': '类型，固定为sql',
		'value': 'SQL语句，输出单行标准SQL，不含有注释且不要使用反斜杠转义和换行符等特殊字符'
	}
]
我提供的报表模板数据是 `{pattern}`，指定的数据库系统是 `{dbtype}`。
请根据提供的报表模板，准确识别报表逻辑，在空白单元格处生成一组SQL语句，尽可能用一个或少量的SQL语句实现。
如果无法生成SQL语句，将JSON数组的值置为空数组`[]`。
请按照要求输出，无需任何解释。
"
